.LaunchProfile {
  height: 100vh;
  max-height: 100%;
  width: calc(100vw - 30rem);
  overflow: hidden auto;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 2rem;

  font-size: 1.6rem;

  &__status {
    text-align: center;
    font-size: 2rem;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 4px;
  }
  &__success {
    color: #2cb84b;
  }
  &__failed {
    color: #ff695e;
  }
  &__image-list {
    margin-top: 40px;
    padding-bottom: 100px;
  }
  &__image {
    width: 100%;
    box-shadow: var(--shadow-1);
  }
}
