.launchList {
  height: 100vh;
  overflow: hidden auto;
  width: 30rem;
  padding: 2rem;
  font-size: 1.6rem;
  box-shadow: var(--shadow-1);

  &__title {
    margin-bottom: 1rem;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid #F2F2F2;
    cursor: pointer;
  }
}
